name: Deploy to Oracle VM

on:
  push:
    branches:
      - main  # Run this workflow on pushes to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRIVATE_SSH_KEY_BASE64 }}" | base64 --decode > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H github.com >> ~/.ssh/known_hosts
          ssh-keyscan -H 144.24.126.0 >> ~/.ssh/known_hosts
          
          # Start SSH Agent and add key
          eval $(ssh-agent -s)
          ssh-add ~/.ssh/id_rsa

      - name: Debug SSH Authentication
        run: ssh -i ~/.ssh/id_rsa -o IdentitiesOnly=yes -vT git@github.com

      - name: Deploy using SSH
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa opc@144.24.126.0 << EOF
            export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa -o IdentitiesOnly=yes"

            # Debugging: Test GitHub SSH connection
            ssh -T git@github.com || echo "âŒ SSH authentication failed"

            cd /home/opc/firstApp

            # Ensure Git uses SSH
            git remote set-url origin git@github.com:senpaii1/oracleVm.git
            git pull origin main

            npm install --omit=dev
            pm2 restart index.js
          EOF
